/* 添加地址 */
.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
/* 头部 */
.header-wrapper,
.add-header {
	display: flex;
	height: 11.733333vw;
}
.header-wrapper>span,
.add-header>span {
	width: 10.4vw;
	height: 12.8vw;
}
.header-wrapper>span>img,
.add-header>span>img {
	width: 100%;
}
.header-wrapper>p,
.add-header>p {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* 无地址内容 */
.content-wrapper {
	flex-grow: 1;
	overflow: auto;
}
.content-wrapper::-webkit-scrollbar {
	display: none;
}
.address-null {
	display: none;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(244, 244, 244);
}
.address-null>img {
	width: 24vw;
	height: 24vw;
	margin-bottom: 5vw;
}
.address-null>p {
	font-size: 3.2vw;
	color: #666;
}
/* 添加地址内容 */
.address-wrapper {
	display: flex;
	flex-direction: column;
}
.address-wrapper>div {
	display: flex;
	align-items: center;
	height: 26.933333vw;
	border-bottom: 0.3vw solid rgb(229, 229, 229);
}
.address-detail {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding-left: 5vw;
}
.name-wrapper {
	display: flex;
	font-size: 4vw;
	color: #333;
}
.name-wrapper>.name {
	flex-grow: 1;
}
.name-wrapper>.phone {
	width: 24.5vw;
}
.address {
	display: flex;
	padding-top: 3vw;
}
.address>.isdefault-tip {
	align-self: center;
	flex-shrink: 0;
	padding: 0.2vw 1vw;
	margin-right: 2vw;
	font-size: 3.2vw;
	color: #B60909;
	border: 0.3vw solid #B60909;
}
.address>p {
	flex-grow: 1;
	font-size: 3.2vw;
	line-height: 5.5vw;
	color: #666;
}
.btn-modeify {
	flex-shrink: 0;
	width: 4.533333vw;
	padding: 0 3.5vw;
}
.btn-modeify>img {
	width: 100%;
}
.address-no>.address-null {
	display: flex;
}
.address-no>.address-wrapper {
	display: none;
}
/* 添加地址底部 */
.footer-wrapper {
	display: flex;
	height: 19.733333vw;
}
.footer-wrapper>.add-address {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	align-self: stretch;
	border: 0.2vw solid rgb(132, 95, 63);
	border-radius: 1.333333vw;
	margin: 4vw;
	font-size: 3.733333vw;
	color: #845F3F;
}
.add-address-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
/* 新增地址头 */
.add-header {
	background-color: rgb(244, 244, 244);
}
/* 新增地址内容 */
.profile-detail-wrapper {
	flex-grow: 1;
	padding-left: 2vw;
}
.profile-detail {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	/* background-color: #F6f6f6; */
}
.profile-detail>form>div,
.is-default-wrapper {
	display: flex;
	align-items: center;
	height: 13.86666vw;
	padding-right: 5.333333vw;
	border-bottom: 0.2666666vw solid rgb(226, 226, 226);
}
.profile-detail>form>div>label,
.is-default-wrapper>label {
	width: 21.333333vw;
	font-size: 3.466667vw;
	color: #333;
}
.profile-detail>form>div>input {
	flex-grow: 1;
	background-color: #fff;
	font-size: 4vw;
}
h6.seam {
	position: relative;
	left: -2vw;
	width: 110%;
	height: 1.866667vw;
	background-color: #F6F6F6;
}
.is-default-wrapper {
	justify-content: space-between;
}
.is-default {
	position: relative;
	display: flex;
	align-items: center;
	width: 10.666667vw;
	height: 5.333333vw;
}
.is-default>.switch {
	position: absolute;
	z-index: 2;
	width: 5.333333vw;
	height: 5.333333vw;
	border-radius: 50%;
	box-shadow: 0 0 1vw 0;
	background-color: #fff;
	transition: all .2s;
}
.is-default>.bgcolor {
	position: absolute;
	z-index: 1;
	width: 10.666667vw;
	height: 3.733333vw;
	border-radius: 2.666667vw;
	background-color: rgb(222, 222, 223);
	transition: all .2s;
}
.is-default>input.btn-default {
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.yes-default>.switch {
	left: 6vw;
	background-color: rgb(0, 150, 136);
}
.yes-default>.bgcolor {
	background-color: rgb(180, 115, 31);
}
p.remove-address {
	margin-top: 3vw;
	padding: 2vw 0;
	font-size: 3.466667vw;
	color: #E30D0D;
}
.add-footer {
	display: flex;
	margin-bottom: 1.5vw;
	height: 10.66666vw;
	padding: 0 4.8vw;
}
.add-footer>button {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	border-radius: 6vw;
	font-size: 4vw;
	font-weight: 550;
	letter-spacing: 2vw;
	color: #fff;
	background: linear-gradient(to right, rgb(245, 90, 55), rgb(223, 46, 46));
}
/* 弹出也样式 */
.layui-layer-dialog {
	height: 36.666667vw;
	border-radius: 3vw !important;
	overflow: hidden;
}
.layui-layer-content {
	padding: 0 0 5vw 0 !important;
	text-align: center;
}
.layui-layer-btn {
	display: flex;
	height: 15vw;
	font-size: 0;
	padding: 0 !important;
}
.layui-layer-btn>.layui-layer-btn0 {
	align-self: stretch;
	height: 100%;
	line-height: 15vw;
	padding: 0;
	margin: 0 !important;
	display: inline-block;
	width: 50%;
	background-color: rgb(229, 229, 229) !important;
	color: #666 !important;
	border: none;
	text-align: center;
}
.layui-layer-btn>.layui-layer-btn1 {
	align-self: stretch;
	height: 100%;
	line-height: 15vw;
	padding: 0;
	margin: 0 !important;
	display: inline-block;
	width: 50%;
	background-color: rgb(235, 235, 235) !important;
	color: #845F3F !important;
	text-align: center;
}