@font-face {
  font-family: "iconfont"; /* Project id 2774029 */
  src: url('iconfont.woff2?t=1630321419523') format('woff2'),
       url('iconfont.woff?t=1630321419523') format('woff'),
       url('iconfont.ttf?t=1630321419523') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-desc:before {
  content: "\e620";
}

.icon-asc:before {
  content: "\e621";
}

.icon-jian:before {
  content: "\e643";
}

.icon-jia:before {
  content: "\e715";
}

.icon-fanhui:before {
  content: "\e608";
}

.icon-iconset0143:before {
  content: "\e62a";
}

.icon-guifandunpai:before {
  content: "\e625";
}

.icon-xiaosanjiaodown:before {
  content: "\e60f";
}

.icon-QQ:before {
  content: "\e73e";
}

.icon-apple-fill:before {
  content: "\e60e";
}

.icon-weibo1:before {
  content: "\e619";
}

.icon-weixin:before {
  content: "\e61a";
}

.icon-zhifubao:before {
  content: "\e607";
}

